@import '~assets/styles/colors';
@import '~assets/styles/mixin';

.footer {
    font-family: "Nunito", sans-serif;
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: auto;

    &__details {
        max-width: 1170px;
        width: 100%;
        margin: 0px auto;
        padding-top: 40px;

        @media (max-width: 1200px) {
            max-width: 100%;
        }

        font-size: 14px;
        line-height: 20px;
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            font-weight: 0 !important;
            margin: 2.5rem 0;
        }

        &-company {
            width: 25%;

            @media (max-width: 991px) {
                width: 48%;
            }

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        &-rule {
            width: 25%;

            @media (max-width: 991px) {
                width: 48%;
            }

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        &-support {
            width: 25%;

            @media (max-width: 991px) {
                width: 48%;
            }

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        &-contact {
            width: 25%;

            @media (max-width: 991px) {
                width: 48%;
            }

            @media (max-width: 600px) {
                width: 100%;
            }

            &-network {
                .icon-network {
                    ul {
                        display: flex;
                        gap: 10px;
                    }

                    margin: 1.5rem 0;

                }
            }


            &-payment {
                margin-top: 50px;

                .icon-payment {

                    gap: 10px;
                    margin: 1.5rem 0;

                    ul {
                        display: flex;

                        align-items: center;
                        gap: 10px;
                    }
                }
            }


        }
    }

    .second__information {
        max-width: 1170px;
        width: 100%;
        margin: 0px auto;
        padding-bottom: 30px;

        @media (max-width: 1200px) {
            max-width: 100%;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $primary;
        }

        p {
            display: inline-block;
        }

        .icon-import {
            margin-right: 10px;
            width: 20px;
            height: 22px;
        }

        .permision {}

        .location {}

        .hotline {}
    }

    .copy-right {
        background-color: #fff;
        text-align: center;
        padding: 1rem 0;
    }
}