.body{
    width: 100%;
    height: 500px;
    .thanhtoan{
        width: 60%;
        margin: 0px auto;
        background-color: rgb(196, 149, 149);
        height: 500px;
        &_card{

            width: 80%;
            height: ;
            display: flex;
            margin: 0px auto;
            justify-content: space-between;

            &_img{
                img{
                    width: 50%;
                }
            }
        }
    }


}