.body{
    margin-top: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    .thanhtoan{
        width: 60%;
        margin: 0px auto;
        background-color: rgb(190, 164, 164);
        height: auto;
        &_card{
            height: 100px;
            width: 100%;
            display: flex;
            margin: 0px auto;
            justify-content: space-between;

            &_img{
                img{
                    width: 100px;
                }
            }
        }
    }


}